.tiptap.ProseMirror {
    h1,
    h2,
    h3,
    h4 {
        position: relative;
        color: inherit;
        font-style: inherit;
        line-height: 1.3;

        &:first-child {
            margin-top: 0;
        }
    }

    h1 {
        font-size: 2rem; /* 32px */
        font-weight: 700;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.75rem; /* 28px */
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 0.875rem;
    }

    h3 {
        font-size: 1.5rem; /* 24px */
        font-weight: 600;
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
    }

    h4 {
        font-size: 1.25rem; /* 20px */
        font-weight: 500;
        margin-top: 1.25rem;
        margin-bottom: 0.5rem;
    }
}
