@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import './styles/_variables.scss';
@import './styles/_keyframe-animations.scss';

@custom-variant dark (&:is(.dark *));

@font-face{
    font-family: munoch;
    src: url("/MUNOCH.otf") format("opentype");
}

@theme {
  --font-arvo: "Arvo", serif;
  --font-playfair: "Playfair Display", serif;
  --font-munoch: "munoch", serif;
}

@layer base {
    html {
        font-family: var(--font-arvo);
    }

    body {
        background-color: #212121 ;
        overflow-x: hidden;
    letter-spacing: var(--tracking-normal);
    }
}

.body{
    width: 100%;
    height: 100%;
}

/* custom scroll bar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.w-md-editor {
    height: 40px !important;
}

.w-md-editor-toolbar li > button {
    height: 40px !important;
    font-size: 24px !important; /* --> Icon Size*/
    color: #4a5568 !important; /* --> default color*/
    padding: 10px !important;
}

.w-md-editor-toolbar button:hover {
    color: #681db8 !important;
    background-color: #e9d4ff;
    border-radius: 6px;
}

.w-md-editor-toolbar button:focus {
    outline: none;
    color: #007a99;
    background-color: #d0f4ff;
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-sky-300;
}

.btn-primary {
    @apply w-full flex items-center justify-center gap-3 text-sm font-semibold text-white bg-linear-to-r from-sky-500 to-cyan-400 p-[10px] rounded-md my-1 transition-all hover:scale-[1.01] hover:text-white cursor-pointer;
}

.btn-small {
    @apply flex items-center justify-center gap-3 bg-linear-to-r from-sky-300 to-cyan-400 text-sm font-semibold text-white px-7 py-2 rounded-lg hover:bg-black hover:text-white transition-colors cursor-pointer hover:shadow-2xl hover:shadow-sky-200;
}

.form-card {
    @apply bg-white rounded-xl shadow-xl shadow-gray-50 border border-gray-200/50;
}

.form-input {
    @apply w-full text-sm text-black outline-none border border-slate-100 bg-white px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
}

:root {
    --background: #ede9e5;
    --foreground: #1a1a1a;
    --card: #e6e0db;
    --card-foreground: #1a1a1a;
    --popover: #ffffff;
    --popover-foreground: #111827;
    --primary: #d87943;
    --primary-foreground: #ffffff;
    --secondary: #ffffff;
    --secondary-foreground: #1a1a1a;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #eeeeee;
    --accent-foreground: #111827;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #6b7280;
    --input:  #6b7280;
    --ring: #d87943;
    --chart-1: #5f8787;
    --chart-2: #e78a53;
    --chart-3: #fbcb97;
    --chart-4: #888888;
    --chart-5: #999999;
    --sidebar: #f3f4f6;
    --sidebar-foreground: #111827;
    --sidebar-primary: #d87943;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #ffffff;
    --sidebar-accent-foreground: #111827;
    --sidebar-border: #e5e7eb;
    --sidebar-ring: #d87943;
    --font-sans: Geist Mono, ui-monospace, monospace;
    --font-serif: serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: 0rem;
    --spacing: 0.25rem;
  }

  .dark {
    --background: #121113;
    --foreground: #c1c1c1;
    --card: #121212;
    --card-foreground: #c1c1c1;
    --popover: #121113;
    --popover-foreground: #c1c1c1;
    --primary: #e78a53;
    --primary-foreground: #121113;
    --secondary: #f3f4f6;
    --secondary-foreground: #121113;
    --muted: #222222;
    --muted-foreground: #888888;
    --accent: #333333;
    --accent-foreground: #c1c1c1;
    --destructive: #5f8787;
    --destructive-foreground: #121113;
    --border: #222222;
    --input: #222222;
    --ring: #e78a53;
    --chart-1: #5f8787;
    --chart-2: #e78a53;
    --chart-3: #fbcb97;
    --chart-4: #888888;
    --chart-5: #999999;
    --sidebar: #121212;
    --sidebar-foreground: #c1c1c1;
    --sidebar-primary: #e78a53;
    --sidebar-primary-foreground: #121113;
    --sidebar-accent: #333333;
    --sidebar-accent-foreground: #c1c1c1;
    --sidebar-border: #222222;
    --sidebar-ring: #e78a53;
    --font-sans: Geist Mono, ui-monospace, monospace;
    --font-serif: serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }

/* @layer base {
  * {
    @apply border-border outline-ring/50;}
  body {
    @apply bg-background text-foreground;}} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}