.tiptap.ProseMirror {
  --blockquote-bg-color: var(--tt-gray-light-900);

  .dark & {
    --blockquote-bg-color: var(--tt-gray-dark-900);
  }
}

/*=====================
    BLOCKQUOTE
  =====================*/
.tiptap.ProseMirror {
  blockquote {
    position: relative;
    padding-left: 1.5rem;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    margin: 1.5rem 0;
    font-size: 1rem;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 0.5rem;

    p {
      margin-top: 0;
    }

    &::before,
    &.is-empty::before {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      height: 100%;
      width: 0.25em;
      background-color: var(--blockquote-bg-color);
      content: "";
      border-radius: 0;
    }
  }
}
