.content {
  padding: 48px 32px 0 32px;
  display: flex;
  flex-direction: col;
  justify-content: space-between;
  gap: 36px;
}

.content main {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: var(--content-max-width);
}

.content p {
  line-height: 1.625em;
}
.content div.video {
  z-index: 150;
  margin-top: 1rem;
  border: 1px solid;
  border-color: var(--border);
  border-radius: 8px;
  overflow: clip;
}
.content div.video iframe {
  margin: 0;
}
.content ol {
  marker: none;
  line-height: 1.8;
  padding-left: 2em;
  ::marker {
    font-size: 1.4rem;
  }
  li {
    padding-left: 0;
  }
}
.content ul {
  line-height: 1.8;
  padding-left: 1.8em;
}
.content a {
  text-decoration: underline;
  text-decoration-color: var(--link-line-decoration);
}
.content a:hover {
  text-decoration-color: var(--link-line-decoration-hover);
}
.content img,
.content video {
  position: relative;
  z-index: 150;
  max-width: 100%;
  background-color: var(--media-bg);
  border: 1px solid;
  border-color: var(--border);
  border-radius: 8px;
  overflow: clip;
}
.content .header:link,
.content .header:visited {
  color: var(--title-color);
}
.content .header:link,
.content .header:visited:hover {
  text-decoration: none;
}

iframe {
  margin-top: 1rem;
  margin-bottom: 10rem;
}

table {
  margin-top: 1.4rem;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.4rem;
}
table td {
  padding: 4px 12px;
  border: 1px var(--table-border-color) solid;
}
table thead {
  background: var(--table-header-bg);
}
table thead td {
  font-weight: 700;
  border: none;
}
table thead th {
  padding: 6px 12px;
  color: var(--full-contrast);
  text-align: left;
  border: 1px var(--table-border-color) solid;
}
table thead tr {
  border: 1px var(--table-border-color) solid;
}
/* Alternate background colors for rows */
table tbody tr:nth-child(2n) {
  background: var(--table-alternate-bg);
}

blockquote {
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 1.25rem;
  color: var(--full-contrast);
  background-color: var(--quote-bg);
  border: 1px solid var(--quote-border);
}

blockquote > p {
  margin: 0;
  padding-left: 2.6rem;
  font-size: 1.4rem;
}

blockquote:before {
  --size: 1.4rem;
  position: absolute;
  content: "ⓘ";
  margin: 0.3rem 0;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
  font-weight: bold;
  color: var(--icons);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.625em;
}

blockquote .warning:before {
  background-color: var(--quote-bg);
}

.warning {
  margin: auto;
  padding: 1rem 1.25rem;
  color: var(--full-contrast);
  background-color: var(--warning-bg);
  border: 1px solid var(--warning-border);
}

.warning > p {
  margin: 0;
  padding-left: 2.6rem;
  font-size: 1.4rem;
}

.warning:before {
  --size: 1.4rem;
  position: absolute;
  content: "ⓘ";
  margin: 0.3rem 0;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
  font-weight: bold;
  color: var(--warning-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.625em;
}

kbd {
  background-color: rgba(8, 76, 207, 0.1);
  border-radius: 4px;
  border: solid 1px var(--popover-border);
  box-shadow: inset 0 -1px 0 var(--theme-hover);
  display: inline-block;
  font-size: var(--code-font-size);
  font-family: var(--mono-font);
  line-height: 10px;
  padding: 4px 5px;
  vertical-align: middle;
}
