services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - analytics_net

  api:
    build:
      context: .
      target: api
    ports:
      - "8080:8080"
    environment:
      - REDIS_DSN=redis://redis:6379
      - DB_DSN=${NEON_URL}
    depends_on:
      - redis
    networks:
      - analytics_net

  worker:
    build:
      context: .
      target: worker # <--- NOTE THIS (Uses the same code, different binary)
    # deploy:
    #   mode: replicated
    #   replicas: 5 # <--- Run 5 instances
    environment:
      - REDIS_DSN=redis://redis:6379
      - DB_DSN=${NEON_URL}
    depends_on:
      - redis
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - analytics_net

  cron:
    build:
      context: .
      target: cron
    environment:
      - DB_DSN=${NEON_URL}
    depends_on:
      - redis
    dns:
      - 8.8.8.8
      - 1.1.1.1
    restart: always
    networks:
      - analytics_net

  server:
    build:
      context: .
      target: server
    ports:
      - "50051:50051"
    environment:
      - DB_DSN=${NEON_URL}
    depends_on:
      - redis
    networks:
      - analytics_net

networks:
  analytics_net:
    driver: bridge
